@import './base/reset';
@import './base/base';

@import './utils/variables';
@import './utils/utilities';

@import './components/input';

// *{
//     outline: 1px solid olive;
// }

#app {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/pattern_5.png);
    background-size: cover;
}

._c_cart_wrap {
    width: 100%;
    padding: 28px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 5px 2px 3px #ccc;
}
._c_cart_wrap>.col-4 {
    padding: 16px;
    background-color: rgb(224, 224, 224);
}

._c_cart_p_img {
    width: 180px;
    height: 180px;
    overflow: hidden;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
._c_cart_p_num {
    width: 100px;
}
.point_txt {
    font-size: 14px;
    height: 28px;
    color: #d13321;
}