<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="./CSS/cart.min.css">
    <title>Document</title>
</head>
<body>
<div id="app">
    <div class="container">
        <div class="row">
            <div class="d-flex _c_cart_wrap">
                <!-- 商品資訊 -->
                <section class="col-8 pr-sm">
                    <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">商品資訊</th>
                            <th scope="col" class="ta-center">數量</th>
                            <th scope="col" class="ta-center">價格</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td class="d-flex jc-center ai-center">
                                <div class="_c_cart_p_img">
                                    <img src="https://cdn.shopify.com/s/files/1/0680/1159/products/BS500M_Boardies_Jungle_Mid_Length_Swim_Shorts_-_SQ_700x.jpg?v=1578155124" alt="">
                                </div>
                                <div class="ml-1">
                                    <ul>
                                        <li class="mb-tiny fw-bold color-primary">JUNGLE Swimwear</li>
                                        <li class="">SIZE．<span class="fw-bold">L</span></li>
                                    </ul>
                                </div>
                            </td>
                            <td>
                                <validation-provider rules="numeric|min_value:1|required" v-slot="{ errors }" class="d-flex flex-d-col jc-center ai-center">
                                    <input type="number" id="cart_p_num" class="_c_cart_p_num ta-center" v-model="cart_p_num" name="數量">
                                    <span class="point_txt">{{ errors[0] }}</span>
                                </validation-provider>
                            </td>
                            <td>
                                <div class="d-flex jc-center ai-center">
                                    <p class="_c_cart_p_num ta-center">1,200</p>
                                </div>
                            </td>
                          </tr>
                          <tr>
                            <td colspan="2">
                                <p class="fw-bold ta-right">TOTAL</p>
                            </td>
                            <td>
                                <p class="fw-bold ta-right color-primary">1,200</p>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                </section>
                <!-- 收件資訊 -->
                <section class="col-4">
                    <form>
                        <validation-provider rules="required" v-slot="{ errors }">
                            <div class="d-flex flex-column">
                                <label for="recipient_name" class="mb-mini">收件姓名</label>
                                <input type="text" id="recipient_name" name="收件姓名" class="form-control" v-model="recipient_name">
                                <span class="point_txt">{{ errors[0] }}</span>
                            </div>
                        </validation-provider>
            
                        <validation-provider rules="numeric|length:10|is:09|required" v-slot="{ errors }">
                            <div class="d-flex flex-column">
                                <label for="recipient_phone" class="mb-mini">手機號碼</label>
                                <input type="tel" id="recipient_phone" name="手機號碼" class="form-control" v-model="recipient_phone">
                                <span class="point_txt">{{ errors[0] }}</span>
                            </div>
                        </validation-provider>
            
                        <validation-provider rules="email|required" rules="email" v-slot="{ errors }">
                            <div class="d-flex flex-column">
                                <label for="recipient_email" class="mb-mini">電子信箱</label>
                                <input type="email" id="recipient_email" name="電子信箱" class="form-control" v-model="recipient_email">
                                <span class="point_txt">{{ errors[0] }}</span>
                            </div>
                        </validation-provider>
            
                        <validation-provider rules="required" v-slot="{ errors }">
                            <div class="d-flex flex-column">
                                <label for="recipient_address" class="mb-mini">收件地址</label>
                                <input type="text" id="recipient_address" name="收件地址" class="form-control" v-model="recipient_address">
                                <span class="point_txt">{{ errors[0] }}</span>
                            </div>
                        </validation-provider>
            
                        <validation-provider rules="oneOf:payment_web_atm,payment_credit_card,payment_convenience,payment_after_cash,payment_apple_pay,payment_google_pay|required" v-slot="{ errors }">
                            <div class="d-flex flex-column">
                                <label for="payment" class="mb-mini">付款方式</label>
                                <select name="" id="payment" v-model="payment" class="form-control" name="付款方式">
                                    <option value="payment_web_atm">網路銀行轉帳</option>
                                    <option value="payment_convenience">超商條碼繳費</option>
                                    <option value="payment_credit_card" selected>線上信用卡刷卡</option>
                                    <option value="payment_after_cash">貨到付款</option>
                                    <option value="payment_apple_pay">ApplePay</option>
                                    <option value="payment_google_pay">GooglePay</option>
                                </select>
                                <span class="point_txt">{{ errors[0] }}</span>
                            </div>
                        </validation-provider>
            
                        <validation-provider>
                            <div class="d-flex flex-column">
                                <label for="" class="mb-mini">留言給我們</label>
                                <textarea type="text" class="form-control"></textarea>
                            </div>
                        </validation-provider>
                    </form>
                </section>
            </div>
        </div>
    </div>
</div>

</body>
<!-- Vue -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<!-- Bootstrap -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
<!-- axios -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
<!-- veeValidate -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/vee-validate/3.3.0/vee-validate.full.min.js"></script>
<!-- vue-loading-overlay -->
<script src="https://cdn.jsdelivr.net/npm/vue-loading-overlay@3.3.2/dist/vue-loading.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vue-loading-overlay@3.3.2/dist/vue-loading.css">






<script type="module">

    Vue.component('ValidationProvider', VeeValidate.ValidationProvider);
    
    import zh_TW from './zh_TW.js';
    VeeValidate.localize('tw', zh_TW);

    VeeValidate.configure({
        classes: {
            valid: 'is-valid',
            invalid: 'is-invalid',
        }
    });


    new Vue({
        el: '#app',
        data: {
            recipient_name: '',
            recipient_phone: '',
            recipient_email: '',
            recipient_address: '',
            payment: '',
            cart_p_num: 1,
        },
        
        methods: {

        },
        created() {
            
        },
    });
</script>
</html>