<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
<div id="app">
    <div class="container">
        <form>
            <validation-provider rules="required" v-slot="{ errors }">
                <label for="recipient_name">收件姓名</label>
                <input type="text" id="recipient_name" name="" class="form-control" v-model="recipient_name">
                <span>{{ errors[0] }}</span>
            </validation-provider>

            <validation-provider rules="numeric|length:8|is:09|required" v-slot="{ errors }">
                <label for="recipient_phone">手機號碼</label>
                <input type="tel" id="recipient_phone" name="" class="form-control" v-model="recipient_phone">
                <span>{{ errors[0] }}</span>
            </validation-provider>

            <validation-provider rules="email|required" rules="email" v-slot="{ errors }">
                <label for="recipient_email">電子信箱</label>
                <input type="email" id="recipient_email" class="form-control" v-model="recipient_email">
                <span>{{ errors[0] }}</span>
            </validation-provider>

            <validation-provider rules="min:4|required" v-slot="{ errors }">
                <label for="recipient_address">收件地址</label>
                <input type="text" id="recipient_address" name="" class="form-control" v-model="recipient_address">
                <span>{{ errors[0] }}</span>
            </validation-provider>

            <validation-provider rules="oneOf:payment_web_atm,payment_credit_card,payment_convenience,payment_after_cash,payment_apple_pay,payment_google_pay|required" v-slot="{ errors }">
                <label for="payment">付款方式</label>
                <select name="" id="payment" v-model="payment" class="form-control">
                    <option value="payment_web_atm">網路銀行轉帳</option>
                    <option value="payment_convenience">超商條碼繳費</option>
                    <option value="payment_credit_card" selected>線上信用卡刷卡</option>
                    <option value="payment_after_cash">貨到付款</option>
                    <option value="payment_apple_pay">ApplePay</option>
                    <option value="payment_google_pay">GooglePay</option>
                </select>
                <span>{{ errors[0] }}</span>
            </validation-provider>

            <validation-provider>
                <label for="">留言給我們</label>
                <textarea type="text" class="form-control"></textarea>
            </validation-provider>
        </form>
    </div>
</div>
<!-- 姓名：必填
Email：須符合格式
電話：必填，超過 8 碼，input type 為 tel
地址：必填
付款方式：WebATM、ATM、Barcode、Credit、ApplePay、GooglePay
留言：非必填 -->
</body>
<!-- Vue -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<!-- Bootstrap -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
<!-- axios -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
<!-- veeValidate -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/vee-validate/3.3.0/vee-validate.full.min.js"></script>
<!-- vue-loading-overlay -->
<script src="https://cdn.jsdelivr.net/npm/vue-loading-overlay@3.3.2/dist/vue-loading.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vue-loading-overlay@3.3.2/dist/vue-loading.css">

<script type="module">

    Vue.component('ValidationProvider', VeeValidate.ValidationProvider);
    
    import zh_TW from './zh_TW.js';
    VeeValidate.localize('tw', zh_TW);

    new Vue({
        el: '#app',
        data: {
            recipient_name: '',
            recipient_phone: '',
            recipient_email: '',
            recipient_address: '',
            payment: '',
        },
    });
</script>
</html>